<div class="newcontact">
  <div class="wrapper">
      <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      
      
       <div class="form-inputs">
       <%= f.input :username,
        required: true,
        autofocus: true,
        class: "form control",
        type: "text",
        placeholder: "Username"
        %>
         <%= f.input :full_name,
        required: true,
        autofocus: true,
        class: "name formEntry",
        type: "text",
        placeholder: "First and Lastname"
        %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" },
        class: "email1 formEntry",
        type: "text",
        placeholder: "Email"
        %>
        <%= f.input :password,
        required: true,
        # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } ,
        class: "name formEntry",
        type: "text",
        placeholder: "Password"
        %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" },
        class: "name formEntry",
        type: "text",
        placeholder: "Confirm Password"
        %>
       
      

      
       <div class="form-actions mt-2">
        <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block", id:"btnform" %>
      </div>
      <% end %>

      <div class="separator my-3">Already have an account?</div>
      <%= render "devise/shared/signin_btn" %>
    </div>
  </div>
</div>