<div class="nicelogo">
<img class="greenlogo" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1608031064/Logo_hmynel.png">
</div>
<div class="newcontact">
  <div class="wrapper">
      <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="form-inputs">
       <%= f.input :username,
        required: true,
        autofocus: true,
        placeholder: "Username"
        %>
        
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" },
        placeholder: "Email"
        %>

        <%= f.input :password,
        required: true,
        input_html: { autocomplete: "current-password" },
        placeholder: "Password" 
        %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      

      
       <div class="form-actions mt-2">
        <%= f.button :submit, " Log in", class: "btn btn-primary btn-block mb-2", id:"btnform" %>
      </div>
      <% end %>

      <div class="separator my-3">Don't have an account?</div>
      <%= render "devise/shared/signup_btn", id:"btnform" %>
    </div>
  </div>
</div>