<div class="newback">
<h1 class="newcardtitle">This Month :</h1>
<div class="newoptions">
<div class="multi-button">
  <a href="/offers"><button>Offers</button></a>
  <a href="/sneakers"><button>Sneakers</button></a>
  <a href="/sports"><button>Sports</button></a>
</div>
</div>

        <%@sneakers.each do |sneaker|%>
            
      
         <section class="cards-wrapper">
  <div class="card2-grid-space">
    
    <div class="card2" style="">
    <div>
   <%= cl_image_tag sneaker.photo.key, :cloud_name => 'dn6wh4u2h', crop: :fill%> 
        <%= link_to sneaker_path(sneaker) do %> 
        <h1><%= sneaker.title %></h1>
        <p><%= sneaker.description%></p>
        <%end%> 
        
        <div class="tags">
          <div class="tag"><%= sneaker.points%>PTS</div>
        </div>
  </div>
    </div>
  </div>
 </div> 
    
  
</section>

<%end%>