<section class="cards3-wrapper">
  <div class="card2-grid-space">
    
    <a class="card3" style="--bg-img: url(https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610199729/airpodstest_va9l24.jpg)">
   
      <div>
        <%# <%= link_to offer_path(offer) do %>
        <%# <%end%> 
        <div class="date"></div>
        <div class="tags">
          <div class="tag"><%=@sneaker.points%>PTS</div>
        </div>
      </div>
    </a>
  </div>
  
    
  
</section>

<h1 class="newcardtitle2"><%=@sneaker.title %></h1>
<p class="newcardtitle3"><%=@sneaker.description%></p>

<h2 class="newcardtitle4"><%=@sneaker.title %></h2>


<div class="newcarddollar">
<div class="container1">
 <div class="left-side">
  <div class="card15">
   <div class="card-line"></div>
   <div class="buttons1"></div>
  </div>
  <div class="post">
   <div class="post-line"></div>
   <div class="screen">
    <div class="dollar">$</div>
   </div>
   <div class="numbers"></div>
   <div class="numbers-line2"></div>
  </div>
 </div>
 <div class="right-side">
  <div class="new">New Transaction</div>
  
   <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 451.846 451.847"><path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#cfcfcf"/></svg>
 
 </div>
</div>
</div>